.banner{
    background-image: url('./images/banner/banner1.png');
    height: 600px;
    display: flex;
    background-size: cover;




}


.right-banner{
    width: 50%;
    margin-left: 700px;
   margin-top: 100px;
    text-align: right;
}
.inner-right-banner{
    width: 37%;
    margin: 0 auto;
    margin-top: 70px;
    margin-right: 150px;
    
}
.inner-right-banner h1{
    font-size: 38px;
}
*{
    padding: 0;
    margin: 0;
}
.btn{
    padding: 10px 15px;
    margin-top: 30px;
    border: none;
    background-color: orangered;
    color:white;
    border-radius: 5px;
}
.plan div{
 
 height: 200px; 
 width: 200px;
 margin: 35px;
 text-align: center;
}
.plan{
    display: flex;
    margin-left: 150px;
}
.plan h3{
    font-weight: 700;
}
.plan img{
    width: 40px;
}

.extra-work{
    background-color: black;
    height: 500px;
    display: flex;
  
}
.extra-work-left {
 width: 50%;
}
.extra-work-left img{
    width: 70%;
    margin: 100px 80px;
}
.extra-work-right h1{
    color: white;
    margin-top: 100px;
    font-size: 40px;
    text-align: center;
}
.extra-work-right h3  {
    color: white;
    margin-top: 50px;
}
.extra-work-right li  {
    color: white;
   margin-top: 10px;
  margin-left: 200px;

}

















.title{
 
 text-align: center;
 margin-top: 20px;
 font-size: 35px;
}

.bonus{
    height: 230px;
    width: 1000px;
    border-radius: 10px;
   
    margin-left: 200px;
    background: linear-gradient(to right, rgb(255, 81, 0), rgba(255,0,0,0) ),
    url('./images/watch.png') no-repeat center / cover;

}
.bonus img{
    width: 100%;
   height: 100%;
 


}
.bonus .btn{
background-color: rgb(250, 229, 215);
color: orange;
font-weight: 800;

}


.left-bonus{
    
    margin-left: 100px;
    padding-top:40px ;
}
.left-bonus h1{
    font-size: 30px;
    color: white;
    font-weight: 700;

}

footer{
    color: aliceblue;
    height: 400px;
    background-color: black;
    margin-top: 80px;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

.fotter-left{

width: 30%;
padding-top: 100px;
margin-left: 190px;
}
.fotter-left h3{
   font-size: 30px; 
}
.fotter-left span{
 margin-bottom: 10px;

}
.right-footer{
    width: 30%;
    padding-top: 100px;
    margin-left: 400px; 
}
input{
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 10px;
}




.fail{
   
    height: 600px;
    display: flex;
    padding: 10px;
    padding-top: 100px;
   
    
}
.fail img{
    width: 60%;
    margin-left:160px;
}
.fail-right{
    width: 30%;
    margin-top: 200px;
}
.fail-right h1{
    font-size: 37px; margin-bottom: 14px;
}
.fail-right li {
    margin-left: 12px;
    margin-top: 8px;
    

}
.fail-right p{
    margin-bottom: 10px;
}

.social img{
 width: 10%;
 margin-left: 8px;
 margin-top: 10px;
}
.social{
    display: flex;
}
.btn1{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    color: orangered;
    font-weight: 700;
}






